<div class="container mt-5">
  <form [formGroup]="signupForm">
    <h2 class="mb-3">Appointments for {{ location && location.name }}</h2>
    <div class="mb-3">
      <div class="row">
        <ng-container *ngFor="let vaccination of vaccinations">
          <label *ngIf="vaccination.users_count < vaccination.maxPatients" [for]="vaccination.id">
            <input
              type="radio"
              name="appointment"
              formControlName="appointment"
              [value]="vaccination.id"
              [id]="vaccination.id"
            />
            {{ vaccination.date }}, {{ vaccination.from }} - {{ vaccination.to }}
          </label>
        </ng-container>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="submitSignupForm()">Submit</button>
  </form>
</div>
