<div class="container mt-5">
  <a class="btn btn-primary btn-sm mb-3" routerLink="../../../admin/"><i class="bi-arrow-left"></i> back to overview</a>
  <h2 class="mb-3">
    Edit vaccination dates for<br />
    "{{ location && location.name }}"
  </h2>
  <div class="text-end">
    <a
      class="btn btn-success btn-sm"
      [routerLink]="['../../../admin', location && location.id, 'vaccinations', 'create']"
      ><i class="bi-plus-circle"></i> create new</a
    >
  </div>
  <div class="list-group mt-3">
    <div *ngFor="let vaccination of vaccinations" class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ vaccination.date }}</h5>
        <div>
          <a class="btn btn-primary btn-sm" [routerLink]="['../../../admin/vaccinations/edit', vaccination.id]"
            ><i class="bi-pen"></i> edit</a
          >
          <a class="btn btn-danger btn-sm ms-2" (click)="removeVaccination(vaccination.id)"
            ><i class="bi-trash"></i> delete</a
          >
        </div>
      </div>
      <p class="mb-1">{{ vaccination.from }} - {{ vaccination.to }}</p>
    </div>
  </div>
</div>
