<div class="bg-light">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-4">
        <strong>KWM Vaccinates</strong>
      </div>
      <div class="col-md-4">
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Vaccination safety</a></li>
          <li><a href="#">Consent form</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-style-none">
          <li><a href="#">Legal information</a></li>
          <li><a href="#">Imprint</a></li>
          <li><a href="#">Data Privacy</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
