<div class="container-fluid">
  <div class="row justify-content-center bg-dark pt-5 pb-5 text-light text-center">
    <div class="col-md-8">
      <h1>Where do you want to get vaccinated?</h1>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 mb-3">
      <h2>Choose location</h2>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let location of locations" class="col-md-4 app-location-list-item" [location]="location"></div>
  </div>
</div>
