<nav class="bg-light pt-3 pb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <a class="navbar-brand" routerLink="home">KWM Vaccinates</a>
      </div>
      <div class="col-6">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
          </li>

          <li *ngIf="isLoggedIn() && isAdmin()" class="nav-item">
            <a routerLink="admin" routerLinkActive="active" class="nav-link">Admin</a>
          </li>

          <li class="nav-item" *ngIf="isLoggedIn() && !isAdmin()">
            <a routerLink="confirmation" routerLinkActive="active" class="nav-link">My Appointment</a>
          </li>

          <li class="nav-item" *ngIf="isLoggedIn() && !isAdmin()">
            <a routerLink="locations" routerLinkActive="active" class="nav-link btn btn-primary text-white ms-2"
              >Book appointment</a
            >
          </li>

          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a routerLink="login" routerLinkActive="active" class="nav-link">Login</a>
          </li>

          <li class="nav-item" *ngIf="isLoggedIn()">
            <button class="nav-link btn btn-danger ms-2" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
