<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 mb-3">
      <h2>Edit vaccination dates</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Choose location</h3>
      <div class="list-group">
        <div *ngFor="let location of locations" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ location.name }}</h5>
            <a class="btn btn-primary btn-sm" [routerLink]="['../admin', location.id, 'vaccinations']"
              ><i class="bi-calendar"></i> show dates</a
            >
          </div>
          <p class="mb-1">{{ location.street }} {{ location.houseNo }}, {{ location.zipCode }} {{ location.city }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
