<div *ngIf="user">
  <div class="container-fluid">
    <div class="row justify-content-center bg-dark pt-5 pb-5 text-light text-center">
      <div class="col-md-8 pt-5 pb-5">
        <h1>Successfully signed up!</h1>
      </div>
    </div>
  </div>

  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Your appointment</h2>
      </div>
      <div class="col-md-6">
        {{ user.vaccination.date }}<br />
        {{ user.vaccination.from }} - {{ user.vaccination.to }}<br />
        {{ user.vaccination.location.name }}
      </div>
    </div>
  </div>
</div>
